<div class="container">
<app-header (teamSelectionChange)="getGoalsByTeam($event)"></app-header>
<app-panel [reset]="resetPanel" [disabled]="disabledPanel" [facets]="facets" #searchData (changeEvent)="receiveSearchData($event)"></app-panel>

@if (isLoading) {
        <mat-card-content>
    <mat-card-header>Loading...</mat-card-header>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  </mat-card-content>
} 


<app-scatter-chart #elseBlock [chartData]="chartData"></app-scatter-chart>



</div>